.section-product-title {
    width: auto;
    height: auto;
}

.content-titles{
    display: flex;
    justify-content: space-between;
}

.link-back{
    text-decoration: none;
}

.text-back{
    font-size: 20px;
    color: var(--text-color);
}


