.section-product-title {
    width: auto;
    height: auto;
}

.content-titles{
    display: flex;
    justify-content: space-between;
}

.link-back{
    text-decoration: none;
}

.content-btn{
    display: flex;
    align-items: center;
}

.btn-back{
    border: none;
    border-radius: 20px;
    padding: 50%;
    background-color: var(--tool-background);
    cursor: pointer;
}


