.section-product-title {
  width: auto;
  height: auto;
}

.content-titles {
  display: flex;
  justify-content: space-between;
}

.link-back {
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 10px;
}
.content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--nav-background);
  font-size: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: auto;
  height: 50%;
  border: none;
  border-radius: 20px;
}