.main-container-favorites{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.sidebar-container{
    width: 15%;
    height: auto;
}

.content-favorites-user{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2.5%;
}
