.card-account {
  margin-bottom: 1%;
}

.card-account-info {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  width: 90% !important;
  border-radius: 2cqh;
  background-color: var(--white-background);
  padding: 2%;
}

.content-title {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.card-account-info-title {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 20px;
}

.icon-myAccount {
  width: 13%;
  cursor: pointer;
}

.card-account-info-number {
  font-size: 15px;
  margin-left: 15px;
}

.card-account-info-amount {
  text-align: center;
  font-size: 40px;
}

/* Slider */

.card-account .slick-slider {
  width: 100%;
  margin: 0;
}

.card-account-info-title,
.card-account-info-number {
  font-size: 120%;
  color: #333;
  margin: 10px 0;
}

.slick-prev:before,
.slick-next:before {
  color: var(--nav-background) !important;
  font-size: 25px !important;
  opacity: 1 !important;
}

.card-account-info-amount {
  font-size: 180%;
  color: #000;
  font-weight: bold;
}

.slick-prev,
.slick-next {
  color: #000;
  font-size: 20px;
}

.slick-dots li button:before {
  color: #000;
}

.slick-list {
  padding: 0 1% 1% 1% !important;
}

@media (max-width: 768px) {
  .card-account {
    margin-bottom: 8%;
  }

  .card-account-info-title {
    font-size: 100%;
  }

  .card-account-info-number {
    font-size: 100%;
  }

  .card-account-info-amount {
    font-size: 120%;
  }

  .icon-myAccount {
    width: 13%;
  }

  .slick-list {
    padding: 0 1% 1% 4% !important;
  }
}
