.message-home {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.s{
    margin: 0;
}

.message-title-home {
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    .message-home{
        margin-right: 0;
        margin-left: 0;
    }

    .message-title-home {
        display: none;
    }

    .s{
        display: none;
    }

    .message-text-home {
        font-size: 20px;
        font-weight: 700;
        color: var(--text-color); 
    }
}
