.table-homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5cqh;
    background-color: var(--white-background);
}

.title-table-homePage {
    margin-left: 30px;
}

.title-recent-activity {
    font-size: 28px;
}

.content-history-homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-title-homepage {
    
    border-collapse: collapse;
    width: 80%;
}

.table-recent-activity-homepage {
    border-collapse: collapse;
    width: 80%;
}

.recent-activity-title {
    align-items: center;
    justify-content: center;
}

.title-principal-info {
    font-size: 130%;
    width: auto;
}

.recent-activity-info {
    align-items: center;
    justify-content: center;
}

.info-recent-activity {
    font-size: 120%;
    text-align: center;
}