.main-container-history-by-user{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.sidebar-history {
  position: absolute;
}

.content-history-view {
  margin-left: 250px;
}