/* nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(to right, #00F4A1 0%, #116ffc 87%);
    border: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #eff9f9;
    text-decoration: none;
}

nav ul li a:hover {
    color: #b1caca;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
} */

.nav-landing{
    display: flex;
    /* justify-content: end; */
    padding: 20px;
    background-color: antiquewhite;
}

.nav-landing-ul{
    list-style: none;
    display: flex;  
    margin-left: auto;
}

.nav-landing-li{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav-landing-link {
    color: #158d8d; 
    text-decoration: none;
}

.btn-sign-in{
    background: #fc1111;
    color: #eff9f9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-landing .img-logo{
    display: flex;
    
}