.content-slide{
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 10%;
    width: 45%;
    background-color: var(--nav-background);
    color: var(--text-color-light);
}

.content-logo-slide{
    margin-left: 20%;
}

.content-info-slide{
    margin-left: 3%;
}

.img-logo-slide{
    width: 130px;
}

.title-slogan{
    font-size: 140%;
}