@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&display=swap");

:root {
  /* Colors */
  --white-background: #f0f0f0;
  --nav-background: #211c5c;
  --tool-background: #332b8f;
  --tool-background-hover: #463bc2;
  --tool-item-background: #ffffff;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --color-grey: 2px solid#E0E0E0;
  --color-red: #a20000;
  --color-star: #ffeb49;
  --color-star-save: #111379;

  /* Fonts */
  --general-font: "Oxygen", sans-serif;
  --logo-font-weight: 700;
  --logo-font-style: normal;
  --logo-font-size: 150%;
  --nav-font-weight: 500;
}
