.section-list-credit {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5cqh;
  background-color: var(--white-background);
  margin-bottom: 3%;
  margin-top: 3%;
}

.container-credit-message {
  margin-left: 30px;
}

.message-list-credit {
  font-size: 28px;
}

.container-table-credit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2%;
}

.table-credit-user {
  border-collapse: collapse;
  width: 80%;
}

.thead-credit-lis {
  font-size: 23px;
  align-items: center;
  justify-content: center;
}

.tr-list-credit {
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 110%;
}

.info-user-credit {
  font-size: 110%;
  text-align: center;
  display: table-cell;
  border-bottom: 2px solid #9c9b9b;
}

.btn-approve {
  width: auto;
  height: auto;
  border: none;
  border-radius: 20px;
  padding-top: 5px;
  text-decoration: none;
  background-color: var(--tool-background);
}
