.main-list-credit-admin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.sidebar-list-user {
    width: 15%;
    height: auto;
}

.article-list-credit-admin {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2.5%;
}