.content-message-admin {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: var(--text-color);
}

.message-home-admin {
  font-size: 35px;
  margin: 2% 0;
}

.s {
  margin: 0;
  border: none;
  height: 2px;
  background-color: var(--text-color);
}

.text-admin {
  font-size: 20px;
  margin-left: 3%;
}
