.section-message-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.part-1-message{
    width: 100%;
    margin: 0% 0% 5% 26%;
}

.part-2-message{
    width: 220%;
    margin: 5% 5% 10% 5%;
}

.text-2{
    display: flex;
    text-align: start;
    font-size: 30px;
    margin: 5% 5% 5% 5%;
    font-family: var(--general-font);
}