.sidebar-home {
    position: absolute;
}

.content-home {  
    margin-left: 250px;
}

.content-action-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
}