.footer-landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16% 0 16%;
  border-radius: 10cqh 10cqh 0cqh 0cqh;
  background-color: #211c5c;
  color: #ffffff;
}

.section-footer-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-footer-1 .img-logo {
  width: 110px;
}

.title-footer {
    font-size: 50px;
    margin-left: 5%;
}

.section-footer-2 {
  display: flex;
  flex-direction: column;
}

.text-footer {
  font-size: 30px;
  height: 20%;
}

.title-footer-2 {
  font-size: 35px;
  margin: 15% 0 3% 0;
}

.content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15%;
}

@media screen and (max-width: 768px) {
  .footer-landing {
    padding: 0 20% 0 13%;
    border-radius: 5cqh 5cqh 0cqh 0cqh;
  }

  .section-footer-1 .img-logo {
    width: 70px;
  }

  .section-footer-1 {
    margin: 5% 0;
  }

  .title-footer {
    display: none;
  }

  .section-footer-2 {
    margin: 0 0 5% 12%;
  }

  .text-footer {
    font-size: 15px;
    width: 200px;
  }

  .title-footer-2 {
    font-size: 20px;
  }

  .content-info {
    margin-bottom: 5%;
  }
}