.section-tool-product{
    display: flex;
    flex-direction: column;
    padding: 5% 5% 10% 5%;
}

.section-product{
    display: flex;
    align-items: center;
    color: #000000;
}

.img-product-section{
    width: 80%;
}

.text-1-product{
    margin-left: 20%;
    margin-top: auto;
    font-size: 480%;
}