.section-tool-service {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 10% 5%;
}

.section-service{
    display: flex;
    align-items: center;
    color: #000000;
}

.text-1-service{
    font-family: var(--general-font);
    margin-right: 10%;
    margin-top: auto;
    font-size: 480%;
}

.img-service-section{
    width: 80%;
}

@media screen and (max-width: 768px){
    .section-tool-service {
        padding: 10% 5% 10% 5%;
    }

    .section-service{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-1-service{
        font-size: 100%;
        margin: 0 10% 10% 10%;
    }

    .img-service-section{
        width: 40%;
    }
    
}

